.health-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4; 
}

.health-form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 500px;
}

.health-form h2 {
    text-align: center;
    color: #333; 
    margin-bottom: 20px;
}

.health-form input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px; 
    border: 1px solid #ccc;
    border-radius: 4px;
}

.health-form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
    transition: border-color 0.3s;
}

.health-form select:focus {
    border-color: #0056b3;
    outline: none;
}

.terms-container label{
    display: flex;
    justify-content: center;
    
    
}

.health-form button {
    width: 100%;
    padding: 12px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.health-form button:hover {
    background-color: lightslategrey;
}

.error {
    color: red;
    font-size: 0.8em;
    margin-top: -10px;
    margin-bottom: 10px;
    display: block;
}

