body {
  font-family: Arial, sans-serif;
}

.container {
  padding: 20px;
  align-items: center;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.section {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 5px;
  padding: 20px;
}

.section-row {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image-container {
  width: 15%;
  padding: 10px;
  text-align: center;
  margin: 0 10px;
}

.image-container img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 8px;
}

.image-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.image-container button:hover {
  background-color: #0056b3;
}

.progress-container img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.video-section {
  text-align: center;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 5px;
  padding: 20px;
}

.video-section h2 {
  color: #333;
}

.video-section .videos {
  display: flex;
  justify-content: space-between;
}

.video-section .video-container {
  width: 30%;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 8px;
}
