
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #E9F0EA;
    color: #000;
  }
  
  .nutrition-nutrition-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    
  .nutrition-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
  }
  
  .nutrition-image-placeholder {
    width: 477px;
    height: 300px;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #D9D9D9;
    margin-bottom: 20px;
  }
  
  .nutrition-buttons {
    display: flex;
    gap: 20px;
  }
  
  .nutrition-btn {
    padding: 10px 20px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
