
.recipes-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
  
.recipes-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
  

.video-section {
    text-align: center;
    margin: 20px 0;
}
  
.video-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
  
.videos-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
  
.video-item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
    max-width: 30%;
    box-sizing: border-box;
    text-align: left;
    cursor: pointer;
    align-items: flex-start;
    padding: 20px;
}
  
.video-item:hover {
    background-color: #f0f0f0;
}
  
.video-thumbnail {
    width: 100%;
    height: auto;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}
  
.video-details {
    width: 100%;
    padding: 10px 0 0 0;
}
  
.video-details h3 {
    margin: 0 0 8px;
    font-size: 18px;
    color: #333;
}
  
.video-details p {
    margin: 0;
    font-size: 14px;
    color: #666;
}