.pw-app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 140px);
}

.pw-workouts-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pw-workouts-container {
  max-width: 1200px;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.pw-workouts-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.pw-video-section {
  text-align: center;
  margin: 20px 0;
}

.pw-videos-wrapper {
  display: flex;
  justify-content: space-between;
}

.pw-video-item {
  margin: 10px;
  max-width: 30%;
  box-sizing: border-box;
  text-align: left;
  cursor: pointer;
  padding: 20px;
}

.pw-video-item:hover {
  background-color: #f0f0f0;
}

.pw-video-thumbnail {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}

.pw-video-details {
  padding: 10px 0 0 0;
}

.pw-video-details h3 {
  margin: 0 0 8px;
}

.pw-video-details p {
  margin: 0;
  font-size: 14px;
}

.pw-assessment-button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.pw-assessment-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: white;
  cursor: pointer;
}

.pw-assessment-button:hover {
  background-color: #555;
}