.pr-app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 140px);
}

.pr-recipes-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pr-recipes-container {
  max-width: 1200px;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.pr-recipes-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.pr-video-section {
  text-align: center;
  margin: 20px 0;
}

.pr-videos-wrapper {
  display: flex;
  justify-content: space-between;
}

.pr-video-item {
  margin: 10px;
  max-width: 30%;
  box-sizing: border-box;
  text-align: left;
  cursor: pointer;
  padding: 20px;
}

.pr-video-item:hover {
  background-color: #f0f0f0;
}

.pr-video-thumbnail {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}

.pr-video-details {
  padding: 10px 0 0 0;
}

.pr-video-details h3 {
  margin: 0 0 8px;
}

.pr-video-details p {
  margin: 0;
  font-size: 14px;
}  