
.FP-NP {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.FP, .NP {
  flex: 1;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 8px;
  margin-right: 20px;
}

.NP {
  margin-right: 0;
}



.FP-Activ-Header label, .Achievements-lable label{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  font-size: larger;
  color: black;
  
}
 



.FP-lable-input{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.NP-lable-input{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 1em;
}

.FP-values, .NP-values1, .NP-values2 {
  display: flex;
  flex-direction: column;
}



.FP-NP input[type="number"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.Weight-Graph, .Nutrition-Graph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 1em;

}

.FP-NP .Card {
  background-color: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  border-radius: 8px;
  
}

.FP-NP .CardContent {
  display: flex;
  justify-content: space-between;
  padding: 20px;

}

.FP-NP .text-muted-foreground {
  color: #999;
}

.FP-NP .text-xl {
  font-size: 1rem;
}

.FP-NP .font-bold {
  font-weight: bold;
}


.FN-button {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  gap: 10px;
  margin: 20px;
  width: auto;
  margin-bottom: 5em;
}

.share-options {
  position: absolute; 
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  border-radius: 5px;
  z-index: 1; 
  margin-left: 25em;
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  
}

.FP-NP button:hover {
  background-color: #45a049; 
}

.Achievements{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 1em;
  justify-items: center;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  text-align: center;
}

:root {
  --color-stand: #FF6347; 
  --color-exercise: #4682B4;
  --color-move: #32CD32; 
}



@media (max-width: 768px) {
  .FP-NP {
    flex-direction: column;
  }

  .FP, .NP {
    margin-right: 0;
  }
}
