.rv-recipe-video-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.rv-recipe-video-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.rv-video-player {
  height: 500px;
  margin-bottom: 20px;
}

.rv-time-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 98%;
}

.rv-time-item {
  width: 22%;
  text-align: left;
}

.rv-time-item label {
  display: block;
  margin-bottom: 5px;
}

.rv-time-item input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
}

.rv-ingredients, .rv-directions {
  margin-bottom: 20px;
  width: 98%;
}

.rv-ingredients label, .rv-directions label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.rv-ingredients textarea, .rv-directions textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
}

.rv-plan-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 5em;
}

.rv-plan-buttons button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #333;
  color: white;
  cursor: pointer;
}

.rv-plan-buttons button:hover {
  background-color: #555;
}