.sign-in-form{

display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
height:100vh;
margin: 2em;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.sign-in-form input {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    
}


.sign-in-form button {
    padding: 10px 20px;
    color: white;
    background-color:#A7B996;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5em;
}

.sign-in-form button:hover {
    background-color: #0D0D0D;
}

.sign-in-form h1 {
    margin-bottom: 5em;
}
   
