
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  background-color: #f4f7fa; 
  
}

.signup-form {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px; 
  margin-bottom: 5em;
  margin-top: 5em;
}

.signup-form h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.signup-form label {
  display: block;
  margin-bottom: 5px;
  color: #555;
  font-weight: 600;
}

.signup-form input[type="text"],
.signup-form input[type="number"],
.signup-form input[type="email"],
.signup-form input[type="password"],
.signup-form input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
}

.signup-form .error {
  color: #d9534f; 
  font-size: 0.85rem;
  margin-top: -10px;
  margin-bottom: 10px;
}

.signup-form .checkbox {
  margin-bottom: 20px;
}

.signup-form input[type="checkbox"] {
  margin-right: 5px;
}

.signup-form button {
  width: 100%;
  padding: 10px;
  background-color: black; 
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}



.to-Login {
  text-align: center;
  margin-top: 20px;
}

.to-Login button {
  background: none;
  border: none;
  color: #337ab7; 
  cursor: pointer;
  text-decoration: underline;
}

.to-Login button:hover {
  color: #23527c; 
}
