.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.signup-form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
}

.signup-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.signup-form label {
    display: block;
    margin-bottom: 5px;
}

.signup-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.signup-form button {
    width: 100%;
    padding: 10px;
    background-color:black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}



.to-Login button{
    width: 25%;
    padding: 0px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 1em;
}
.signup-form button:hover {
    background-color: lightslategrey;
}

.password-reset-link {
    color: #0066cc;
    cursor: pointer;
    display: block;
    text-align: center;
    margin: 10px 0;
  }
  
  .password-reset-link:hover {
    text-decoration: underline;
  }